set-window-option -g mode-keys vi


# medium.freecodecamp.org/tmux-in-practice-scrollback-buffer-47d5ffa71c93
bind -T copy-mode-vi M-Up		send-keys -X scroll-up
bind -T copy-mode-vi M-Down		send-keys -X scroll-down
bind -T copy-mode-vi M-PageUp		send-keys -X halfpage-up
bind -T copy-mode-vi M-PageDown		send-keys -X halfpage-down
bind -T copy-mode-vi PageDown		send-keys -X page-down
bind -T copy-mode-vi PageUp		send-keys -X page-up

set -g mouse on

# https://www.hamvocke.com/blog/a-guide-to-customizing-your-tmux-conf/
